body {
  display: flex;
  justify-content: center;
}

.header {
  text-align: center;
  font-size: 40px;
  color: #ff6600;
}

.profilePicture {
  border: 5px solid rgba(22, 22, 22, 0.333);
  box-shadow: 8px 8px #e8e9eb;
}
