@import url("https://fonts.googleapis.com/css?family=Oswald");

/* .container {

} */

* {
  outline: 1px solid red;
}

.header {
  font-family: "Oswald", sans-serif;
  text-align: center;
  font-size: 60px;
  color: #000000;
  margin-top: 0;
}

.profilePicture {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  border: 5px solid rgba(0, 0, 0, 0.664);
  margin-bottom: 2em;
}

.form {
  width: 200px;
  padding: 20px;
}

input[type="text"] {
  font-family: "Times New Roman", Times, serif;
  font-size: inherit;
  padding: 0.4em;
  margin: 0.5em 0;
  width: 100%;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 0 10px 4px rgba(63, 62, 62, 0.521);
  opacity: 0.9;
  transition: 0.4s;
}

input[type="text"]:hover {
  opacity: 0.7;
}

label {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  font-weight: 580;
}

.set-background-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
